<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/apartment.css" />
  </head>
  <body>
<%- include("../partials/navigation.ejs") %>

    <article class="features-card">
      <% for (let img of apartment.images) { %>
      <div class="feature-img-container">
        <img src="<%= img.url %>" class="feature-img" alt="" />
      </div>
      <% } %>
      <div class="feature-info">
        <div class="ownership">
          <h4>Home Owner: <%= apartment.user['fullName'] %></h4>
          <h4>Views: <%= apartment.view_count %> time(s)</h4>
          <h4>Home Type: <%= apartment.property_type %></h4>
        </div>
        <div class="home_info">
          <h4>Status: <%= apartment.status %></h4>
          <h4>Location: <%= apartment.location %></h4>
        </div>
        <p><%= apartment.description %></p>

        <p>
          Lodge Features:
          <% for (const feature of apartment.features){%>
          <ul>
            <li><%= feature %></li>
          </ul>
          <%} %>
        </p>
      </div>

      <% if (userObj.role === 'Student'){%>
      <div class="btn">Process Lodge</div>
      <% } else { %>
      <div class="btns">
        <div class="btn">
          <a href="/lodge-finder/<%= apartment._id %>/edit">Edit</a>
        </div>

        <form action="/lodge-finder/<%= apartment._id %>?_method=DELETE" method="post">
          <button>DELETE</button>
        </form>
      </div>

      <%}%>
    </article>
  </body>
</html>
