<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <a href="/lodge-finder/apartments">All Apartments</a>
    <h1>Single Apartment view</h1>
    <% for (let img of apartment.images) { %>
    <div>
      <img src="<%= img.url %>" alt="" height="200" width="200" />
    </div>
    <% } %>
    <p>Home Owner: <%= apartment.user['fullName'] %></p>
    <p>Home Type: <%= apartment.property_type %></p>
    <p>Viewed: <%= apartment.view_count %> time(s)</p>
    <p>Status: <%= apartment.status %></p>
    <p>Location: <%= apartment.location %></p>
    <% for (const feature of apartment.features){%>
    <ul>
      <li><%= feature %></li>
    </ul>
    <div class="btns">
      <%} %> <% if (userObj.role === 'Student'){%>
      <p>Nothing</p>
      <% } else { %>
      <a href="/lodge-finder/<%= apartment._id %>/edit">Edit</a>
      <%}%>
    </div>
  </body>
</html>
