<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/apartments.css" />
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <div class="nav-center">
          <div class="nav-header">
            <h2 class="nav-logo">Lodge<span>Finder</span></h2>
          </div>

          <ul class="nav-links">
            <li><a href="/lodge-finder/apartments" class="nav-link">All Apartments</a></li>
            <li><a href="/lodge-finder/register" class="nav-link">Add Property</a></li>
            <li><a href="/lodge-finder/admin/users" class="nav-link">All Users</a></li>
          </ul>

          <p class="current-user">Logged in as: <%= currentUser.fullName %></p>

          <div class="logout">
            <form action="/lodge-finder/user/logout" method="post">
              <button class="btn">Logout</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <div class="section-center featured-center">
      <% for (let apartment of apartments) { %>
      <article class="features-card">
        <% for (let img of apartment.images) { %>
        <div class="feature-img-container">
          <img src="<%= img.url %>" alt="" class="feature-img" />
        </div>
        <% } %>
        <div class="feature-info">
          <h4>Type of Lodge: <%= apartment.property_type %></h4>
        </div>
        <p><%= apartment.description.substring(0, 150) %></p>
        <div>
          <p>Status: <%= apartment.status %></p>
        </div>
        <a href="/lodge-finder/<%= apartment._id %>" class="btn">More Info</a>
      </article>
      <% } %>
    </div>
  </body>
</html>
