<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/navigation.css" />
    <link rel="stylesheet" href="/css/apartments.css" />
  </head>
  <body>
    <%- include("../partials/navigation.ejs") %>

    <div class="section-center featured-center">
      <% for (let apartment of apartments) { %>
      <article class="features-card">
        <% for (let img of apartment.images) { %>
        <div class="feature-img-container">
          <img src="<%= img.url %>" alt="" class="feature-img" />
        </div>
        <% } %>
        <div class="feature-info">
          <h4>Type of Lodge: <%= apartment.property_type %></h4>
        </div>
        <p><%= apartment.description.substring(0, 150) %></p>
        <div>
          <p>Status: <%= apartment.status %></p>
        </div>
        <a href="/lodge-finder/<%= apartment._id %>" class="btn">More Info</a>
      </article>
      <% } %>
    </div>
  </body>
</html>
